/* 声明字体图标 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?3a2xdr");
  src: url("../fonts/icomoon.eot?3a2xdr#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?3a2xdr") format("truetype"),
    url("../fonts/icomoon.woff?3a2xdr") format("woff"),
    url("../fonts/icomoon.svg?3a2xdr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.style_red {
  color: #c81523;
}
.shortcut {
  /* width: 100%; */
  height: 31px;
  line-height: 31px;
  /* 给父盒子写居中，就可以直接继承到子盒子 */
  background-color: #f1f1f1;
}
.shortcut li {
  float: left;
}

/* 选择所有偶数个，用盒子做出| */
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666666;
  margin: 9px 15px 0;
  /* 上面9，左右15，下面0 */
}

.arrow-icon::after {
  font-family: "icomoon";
  content: "\ea52";
  margin-left: 6px;
}

.header {
  position: relative;
  height: 105px;
  /* background-color: #cde344; */
}

.logo {
  position: absolute;
  margin-top: 30px;
  width: 171px;
  height: 61px;
}

.logo a {
  display: block;
  width: 171px;
  height: 61px;
  background: url("../images/logo.png") no-repeat;
  /* font-size: 0; */
  /* 看不到文字了，京东的做法 */
  text-indent: -999px;
  overflow: hidden;
  /* 把文字往左边走，然后再overflow让盒子外面的隐藏 */
}

.search {
  position: absolute;
  left: 346px;
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #c81523;
}
.search input {
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 10px;
  /* 因为是C3的盒子模型，并且加了一句那个border-box的，所以不需要减 */
}

.search button {
  float: left;
  width: 80px;
  height: 32px;
  background-color: #c81523;
  font-size: 16px;
  color: #f1f1f1;
}

.hotwords {
  position: absolute;
  top: 66px;
  left: 346px;
}

.hotwords a {
  margin: 0 10px;
}

.shopcar {
  position: absolute;
  top: 25px;
  right: 60px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}

.shopcar::before {
  content: "\e9eb";
  font-family: "icomoon";
  margin-left: 3px;
  color: #c81523;
}

.shopcar::after {
  content: "\ea50";
  font-family: "icomoon";
  margin-right: 10px;
}

.count {
  position: absolute;
  left: 105px;
  /* 写right的话，如果数值很大，会保证右边，数值往左边延申，不符合习惯 */
  top: -5px;
  height: 14px;
  /* 不需要给宽度，因为购物车中的数字可能很大，自然撑开来就好 */
  line-height: 14px;
  color: #dfdfdf;
  background-color: #c81523;
  padding: 0 5px;
  border-radius: 7px 7px 7px 0;
  /* 左上角，右上角，右下角，左下角 */
}

.nav {
  height: 47px;
  border-bottom: 1px solid #e33333;
}

.nav .dropdown {
  width: 215px;
  height: 47px;
  background-color: #e33d33;
}

.dropdown .dt {
  width: 100%;
  height: 100%;
  color: #dfdfdf;
  line-height: 45px;
  text-align: center;
  /* 相对父盒子宽高都是百分百，就是刚好装满，然后垂直居中水平居中 */
  font-size: 16px;
}

.dropdown .dd {
  /* margin-top: 2px; */
  /* display: none; */
  width: 215px;
  height: 265px;
  background-color: #c81523;
}

.dropdown .dd ul li {
  position: relative;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
  padding-left: 10px;
  /* color: #f1f1f1; */
}

.dropdown .dd ul li a::after {
  position: absolute;
  top: 1px;
  right: 5px;
  color: #f1f1f1;
  content: "\ea50";
  font-family: "icomoon";
  font-size: 14px;
}
.dropdown .dd ul li a {
  font-size: 14px;
  color: #f1f1f1;
}

.dropdown .dd ul li:hover {
  background-color: #f1f1f1;
}

.dropdown .dd ul li:hover a {
  color: #c81523;
}

.navitems ul li {
  float: left;
}

.navitems ul li a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding: 0 25px;
}

.footer {
  height: 415px;
  background-color: #f5f5f5;
  padding-top: 30px;
}

.mod_service {
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.mod_service ul li {
  float: left;
  width: 300px;
  height: 50px;
  /* background-color: pink; */
  padding-left: 35px;
}

.mod_service ul li h5 {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) no-repeat -252px -2px;
  margin-right: 8px;
}

.service_text {
  padding-top: 6px;
}
.service_text h4 {
  font-size: 14px;
  font-weight: 700px;
}

.service_text p {
  font-size: 12px;
}

.mod_help {
  height: 185px;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-left: 50px;
}
.mod_help dl {
  float: left;
  width: 200px;
}

.mod_help dl:last-child {
  width: 108px;
  text-align: center;
}

.help_close {
  position: relative;
  display: block;
  border: 1px solid #ccc;
}
.closeBtn {
  position: absolute;
  top: 6px;
  left: -16px;
  font-weight: 700;
}
.mod_help dl dt {
  font-size: 16px;
  margin-bottom: 10px;
}

.mod_copyright {
  height: 40px;
  margin-top: 20px;
  text-align: center;
}

.links {
  margin-bottom: 16px;
}
.links a {
  margin: 0 16px;
}
.copyright {
  line-height: 20px;
}
