.w {
  width: 1200px;
  margin: 0 auto;
}

.style_red {
  color: #cd1212;
}

.header {
  height: 84px;
  border-bottom: 2px solid #cd1212;
}

.header a {
  display: block;
  padding-top: 18px;
}

.registerarea {
  height: 522px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.registerarea h3 {
  height: 41px;
  background-color: #ccc;
  border-bottom: 1px solid #e5e0e0;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 41px;
}
.login {
  float: right;
  font-size: 14px;
}

.reg_form {
  width: 600px;
  margin: 50px auto 0;
  /* background-color: pink; */
}

.reg_form ul li {
  margin-bottom: 20px;
}
.reg_form ul li label {
  display: inline-block;
  width: 88px;
  text-align: right;
}

/* 这边尝试用了nth-child，但是没啥效果 */
.reg_form ul li .int {
  width: 242px;
  height: 37px;
  border: 1px solid #ccc;
}

/* https://www.cnblogs.com/zag666/p/12613062.html */
.passward {
  position: relative;
}

/* 写出父与子的关系 */
.passward img {
  position: absolute;
  top: 5px;
  left: 300px;
  width: 24px;
}

.info {
  color: #1292cd;
  font-size: 12px;
}
.error {
  color: #cd1212;
  font-size: 12px;
}

.success {
  color: #12cd70;
  font-size: 12px;
}

.error_icon,
.info_icon,
.success_icon {
  display: inline-block;
  vertical-align: middle;
  /* 加上上面这一句，可以实现行内块元素之间是垂直居中的,如果还有点不齐，可以设置margin-top这种 */
  width: 20px;
  height: 20px;
  background: url(../images/wrong.png) no-repeat;
}

.info_icon {
  background: url(../images/info.png) no-repeat;
}
.success_icon {
  background: url(../images/right.png) no-repeat;
}

.safe em {
  padding: 0 12px;
  color: #fff;
}

.safe {
  margin-left: 170px;
}

.ruo {
  background-color: #cd1212;
}

.zhong {
  background-color: #12cd70;
}

.qiang {
  background-color: #eac51f;
}

.agree {
  padding-left: 95px;
}

.agree input {
  vertical-align: middle;
}

.agree a {
  color: #12cdc7;
}

.btn {
  width: 200px;
  height: 34px;
  background-color: #cd1212;
  font-size: 14px;
  color: #fff;
  margin: 30px 0 0 70px;
}

.footer {
  /* height: 415px; */
  /* background-color: #f5f5f5; */
  padding-top: 30px;
}

.mod_copyright {
  height: 40px;
  margin-top: 20px;
  text-align: center;
}

.links {
  margin-bottom: 16px;
}
.links a {
  margin: 0 16px;
}
.copyright {
  line-height: 20px;
}

.send { 
  width: 80px;
  height: 37px;
  margin-left: 5px;
  background-color: #a0a0a0;
  color: white;
}
