* {
  margin: 0;
  padding: 0;
}

/* 属性书写顺序：
布局定位：display,position,float,clear,visiblity,overflow
自身: width/height/margin/padding/border/background
文本：color/font/text-decoration/text-align/vertical-align/white-space/break-word
其他(css3)：centent/cursor/border-radius/box-shadow/text-shadow/backgound:linear-gradient... */
/* .jdc {
    display: block;
    position: relative;
    float: left;

    width: 100px;
    height: 100px;
    margin: 0 10px;
    padding: 20px 0;

    font-family: Arial, Helvetica, sans-serif;
    color: #333;

    background: rgba(0,0,0,.5);
    border-radius: 10px;
} */

/* 首先是版心，宽度测量后是1200px,每个版心居中对齐，定义为公共类 */
.w {
  width: 1200px;
  margin: auto;
}

.header {
  height: 42px;
  background-color: lightblue;
  margin: 30px auto;
  /* 给auto是为了应对.w中的auto被覆盖掉,表示左右居中 */
}
